<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <!-- <div></div> -->

        <a class="nav-link active" (click)="ir('Review')" [style.color]="!isConfirm ? 'white' : 'black' ">
          <h3 class="men" >Review</h3>
        </a>
      </div>

      <div class="col-2" >
        <i class="fa fa-long-arrow-right fa-4x" aria-hidden="true"></i>
        <!-- <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
        </svg> -->
      </div>

      <div class="col-4">
        <a class="nav-link active" (click)="ir('Confirmation')" [style.color]="isConfirm ? 'white' : 'black' ">
          <h3 class="men" >Confirmation</h3>
        </a>
      </div>

      <div class="col-2"></div>
      <div class="col-1" >
        <!-- <div class="spacer"></div> -->
        <i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i>
        <!-- <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
          <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
        </svg> -->
      </div>
    </div>
  </div>
</div>