<div class="container">

  <div class="row">
    <div class="col">
    <h4> Review Trip details and adjunts Options if needed</h4>
  </div>
  </div>
  
  <div class="row">
    <div class="col">
      <h4> Dates: </h4>
    </div>

    <div class="col">
      <h6>{{reservation.checkin | date:'MMMM d'}} to {{reservation.checkout | date:' MMMM d y'}}</h6>
    </div>
  </div>

  <div class="row">

    <div class="col">
      <h4> Guests: </h4>
    </div>
    <div class="col">
      <h6>{{reservation.adults}} Guest</h6>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4> Trip Duration: </h4>
    </div>
    <div class="col">
      <h6>{{(calculateDiff(reservation))}} nights</h6>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h4> Base Price: </h4>
    </div>
    <div class="col">
      <h6>{{listin.base_price | currency}}</h6>
      <!-- </div> -->
    </div>
  </div>

  <hr />
  <div class="row" *ngIf="!isConfirm">
    <div class="col">
      <h5> Say Hello to your host: </h5>

      <textarea class="form-control" [(ngModel)]="reservation.message" rows="5"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" (click)="continue()" class="btn btn-primary">{{isConfirm==false?'Continue':'Confirm your reservation'}}</button>
    </div>
  </div>
</div>